{% extends './base.html' %}

{% block mainContent%}

<p><a href="/ad/category" class ="btn btn-primary">Back</a></p>


  <!-- Start SECTION-->
  

  <section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Category Details</h3>
                    <form action="/ad/addcat/{{categorytb.id}}" method="POST" class="post-form">
                    {% csrf_token %}
                        <fieldset class="p-4">
                            <input type="text" name="name" value="{{categorytb.name}}" class="border p-3 w-100 my-2">

                            <textarea type="text"  name="describe" class="border p-3 w-100 my-2">{{ categorytb.describe }}</textarea>
                            <input type="date"  name="create_date" value="{{categorytb.create_date}}" class="border p-3 w-100 my-2">
                           
                            
                            <div class="loggedin-forgot d-inline-flex my-3">
                                   
                                    
                            </div>
                          <span style="color:red;font-size:18px"> {% block content  %}{{ message }}{% endblock content  %}</span>

                            <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Submit Now</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- END SECTION-->

 {% endblock mainContent%}
 
